
*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.main-header{
    z-index: 30;
    width: 100%;
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    top: 0;

}

.logo{
    width: 200px;
}

.copy-header{
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.hamburguer-button{
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.main-navbar{
    display: none;
}

.formulario-alta{
    padding: 20px 15px;
    margin-top: 140px;
}

.formulario-login{
    padding: 20px 15px;
    margin-top: 140px;
}

.control-formaulario{
    margin-bottom: 15px;
}
.login-formaulario{
    margin-bottom: 15px;
}

.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.login-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 100%;
    padding: 8px;
}

.login{
    width: 100%;
    padding: 8px;
}

.boton-formulario{
    background-color: indianred;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.boton-login{
    background-color: indianred;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


/*
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }
   
*/
footer i{
    color: #03264C;
    font-size: 2em;
    margin: 10px;
}
.list-articles{
    display: flex;
    margin-top: 240px;
}

main{
    display: flex;
    width: 100vw;
    margin:auto;
    align-items: center;
    justify-content: space-around;
    background-color: #ededed;
}
/*
.precio{
    width:30%;
}*/

.descuento{
    width:70%;
    color: green;
}

.sub-articulo{
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.articulo:hover {
    box-shadow: 0px 0px 20px rgb(100 100 100);
}


.camion{
    position: relative;
    top: -40px;
    color: green;
    border: 1px solid green;
    padding: 1em;
    border-radius: 50%;   
    right: -150px;
}

.truck-icon:hover{
    transform: rotate(-90deg);
}

footer{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.pie{
    text-align:center;
    padding: 5px;
}

nav{
    display: none;
}


.precio, .descuento{
    position: relative;
    top: -36px;
}

@media(min-width:361px){
    .descripcion{
        display: contents;
    }
    .articulo{
        display: inline-block;
    }
    main .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav{
        display: contents;
    }

    .burger-menu{
        display: none;
    }
    .camion{
        right: -7vw;
    }
}


@media(min-width:768px){
    .main-header-top-bar{
        /* esto es para ver el contorno que voy a modificar del borde
        border: 2px red
        */
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .buscador{
        position: relative;
        bottom: -40px;
    }
    .contenedor-cartas{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .articulo{
        flex: 0 50%;
		box-sizing:border-box;
    }

}

/*
@media(min-width:769px){
    .descripcion{
        display: contents;
    }
    main .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav{
        display: contents;
    }
    .burger-menu{
        display: none;
    }
    .buscador{
        display: inline-block;
    }
}


@media(min-width: 1200px){
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .logo{
        width: 250px;
    }
}*/
.carta{
    padding: 10px;
}

.derechos{
    padding: 40px;
}
