<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a0f8081e82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="./img/logo-mercado-liebre.svg" class="logo">
            <div class="buscador">
                <input type="text" value="Buscar productos, marcas">
                <button class="buscador-icon"><i class="fas fa-search"></i></button>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="list-articles">
            <ul>
                <h3 class="titular">Sección: Basado en tu última visita</h3>
                <div class="contenedor-cartas">
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-cafetera-moulinex.jpg" alt="producto cafetera" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% OFF</p>
                                <div class="descripcion">Cafetera Moulinex</div>
                            </div>
                        </article>
                    </div>
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-macbook-pro-2019.jpg" alt="producto macbook" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                                <div class="descripcion">MacBook Pro 2019</div>
                            </div>
                        </article>
                    </div>
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-samsung-galaxy-s10.jpg" alt="producto celular" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                                <div class="descripcion">Samsung Galaxy S10</div>
                            </div>
                        </article>
                    </div>
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-tv-samsung-smart.jpg" alt="producto celular" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% OFF</p>
                                <div class="descripcion">SmartTv Samsung 43"</div>
                            </div>
                        </article>
                    </div>
                </div>
                <h3 class="titular">Sección de Ofertas</h3>
                <div class="contenedor-cartas">
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-cafetera-moulinex.jpg" alt="producto cafetera" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% OFF</p>
                                <div class="descripcion">Cafetera Moulinex</div>
                            </div>
                        </article>
                    </div>
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-macbook-pro-2019.jpg" alt="producto macbook" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                                <div class="descripcion">MacBook Pro 2019</div>
                            </div>
                        </article>
                    </div>
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-samsung-galaxy-s10.jpg" alt="producto celular" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                                <div class="descripcion">Samsung Galaxy S10</div>
                            </div>
                        </article>
                    </div>
                    <div class="carta">
                        <article class="articulo">
                            <img src="./img/img-tv-samsung-smart.jpg" alt="producto celular" height="200" width="200">
                            <div class="sub-articulo">
                                <i class="fas fa-truck camion"></i>
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% OFF</p>
                                <div class="descripcion">SmartTv Samsung 43"</div>
                            </div>
                        </article>
                    </div>
                </div>
            </ul>
        </section>
    </main>
    <footer><br>
        <article class="pie">
            <i class="fas fa-credit-card"></i><br>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="pie">
            <i class="fas fa-gift"></i><br>
            <strong>Envío gratis desde $ 2.500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="pie">
            <i class="fas fa-user-shield"> </i><br>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <br>
        <br>
    </footer>
    <article class="derechos">
        <h4><strong><em>Copyright © 1999-2020 MercadoLiebre S.R.L.</em></strong></h4>
    </article>
</body>

</html>